<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0"><dict>
  <key>CFBundleExecutable</key><string>LidPlane</string>
  <key>CFBundleIdentifier</key><string>dev.jhey.lidplane</string>
  <key>CFBundleName</key><string>Lid Plane</string>
  <key>CFBundlePackageType</key><string>APPL</string>
  <key>LSMinimumSystemVersion</key><string>13.0</string>
  <key>NSPrincipalClass</key><string>NSApplication</string>
  <key>NSHighResolutionCapable</key><true/>
  <key>LSUIElement</key><true/>
  <key>CFBundleShortVersionString</key><string>0.3.3</string>
  <key>CFBundleVersion</key><string>6</string>
</dict></plist>
